h1 {
  font-family: "Product Sans", sans-serif, "Arial";
  font-weight: italic;
  margin-top: 120px;
  font-size: 80px;
  margin-bottom: 0px;
}
  .blue
  {
      color: #3982e9;
  }
  .red
  {
      color: #ea433b;
  }
  .yellow
  {
      color: #f5b82e;
  }
  .green
  {
      color: #2e944b;
  }

h2 {
  font-family: "Product Sans", sans-serif, "Arial";
  padding-right:93%;
  font-weight: italic;
}
h6 {
  color: #4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif;
  position: absolute;
  left: 835px;
  bottom: -7px;
  white-space: nowrap;
}
  
body {
  font-size: 16px;
  font-family: arial,sans-serif;
  color: #202124;
  text-align: center;
  }

p{
  Font-family: "Product Sans", sans-serif, "Arial";
  font-size: 20px;
}

div {
  width: 98%;
  text-align:right;
  margin: 8px;
  padding: 8px;
}

header {

}

input[type=text] {
  background: #fff;
  display: flex;
  font-size: 16px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  padding: 0 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 80%;
  max-width: 584px;
}

form {
  padding: 20px;
}

input[type=submit] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
}

  

  form {

  }