h1 {
  font-size: 100px;
  text-align: center;
}
  h1 .blue
  {
      color: #537fbe;
  }
  h1 .red
  {
      color: #ea433b;
  }
  h1 .yellow
  {
      color: #f5b82e;
  }
  h1 .green
  {
      color: #2e944b;
  }
  
body {
  text-align: center;
  margin: 200px
  }

input {
  width: 60%;
  border-radius: 25px;
  padding: 12px 20px;
  border: 1px solid #dfe1e5;
  margin: 15px 0;
  box-sizing: border-box;
  }

  

  

  form {

  }