h1 {
  font-size: 80px;
  text-align: center;
}
  h1 .blue
  {
      color: #537fbe;
  }
  h1 .red
  {
      color: #ea433b;
  }
  h1 .yellow
  {
      color: #f5b82e;
  }
  h1 .green
  {
      color: #2e944b;
  }
  
body {
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #202124;
  text-align: center;
  }

p {
  float: right;
  padding-left: 2px;
  margin: 3px
}

input[type=text] {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  padding: 0 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 80%;
  max-width: 584px;
}


input[type=submit] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

  

  form {

  }